.playground__deck {
  border-collapse: collapse;
  table-layout: auto;
  margin-top: 30px;

  &__body {
    &__row {
      &__cell {
        border: #000 solid 2px;
      }
      &__cell__selected {
        background-color: #3087c9;
        border: #000 solid 2px;
      }
    }
  }
}